*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    margin: 70px auto; 
    width: 80%;
    display: grid;
    grid-template-rows: 60px 100px 200px 60px;
    grid-template-columns: repeat(3, 1fr) 260px;
    grid-gap: 32px;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
#header{
    background: chocolate;
    color: white;
    grid-column: 1/-1;
}
#cat-1{
    background: crimson;
    color: white;
}
#cat-2{
    background: green;
    color: white;
}
#cat-3{
    background: rgb(67, 182, 228);
    color: white;
}
#sidebar{
    background: darkgoldenrod;
    color: white;
    grid-row: 2/4;
    grid-column: 4/5;
}
#main{
    background: rgb(221, 88, 221);
    color: white;
    grid-column: 1/4;
}
#footer{
    background: #2f3542;
    color: white;
    grid-column: 1/-1;
}
.br{
    border-radius: 5px;
}
.fs{
    font-size: 20px;
}
.ff{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}